@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #0344dc;
  --secondary: #1b1f3b;
  --accent: #ffb703;
  --neutral: #ebf2ff;
  --off-white: #f9fafa;
  --foreground: #222222;
  --foreground-borders: #a7b0c2;
  --foreground-muted: #555555;
  --foreground-heading: #111111;
  --foreground-accent-btn: #1a1a1a;
  --brand-white: #ffffff;

  --brand-radius: 4px;

  --brand-spacing-xs: 8px;
  --brand-spacing-sm: 16px;
  --brand-spacing: 24px;
  --brand-spacing-lg: 32px;
  --brand-spacing-xl: 40px;
  --brand-spacing-2xl: 48px;

  --font-size-xs: 0.75rem; /* 12px, captions */
  --font-size-sm: 0.875rem; /* 14px, secondary text */
  --font-size-base: 1rem; /* 16px, body text */
  --font-size-lg: 1.125rem; /* 18px, small headings */
  --font-size-xl: 1.5rem; /* 24px, medium headings */
  --font-size-2xl: 2rem; /* 32px, large headings */
  --font-size-3xl: 2.25rem; /* 36px, large headings */
  --font-size-4xl: 2.5rem; /* 40px, extra large headings */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.margin-auto {
  margin: auto;
}
.m-top-auto {
  margin-top: auto;
}

@theme inline {
  /* FONT */
  --font-primary: var(--font-afacad);
  --font-secondary: var(--font-poppins);

  /* COLOR */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-neutral: var(--neutral);
  --color-background: var(--off-white);
  --color-off-white: var(--off-white);
  --color-foreground: var(--foreground);
  --color-foreground-borders: var(--foreground-borders);
  --color-foreground-muted: var(--foreground-muted);
  --color-foreground-heading: var(--foreground-heading);
  --color-foreground-accent-btn: var(--foreground-accent-btn);
  --color-brand-white: var(--brand-white);

  /* fONT SIZE */
  --text-caption-sm: var(--font-size-xs);
  --text-caption-base: var(--font-size-sm);
  --text-caption-lg: var(--font-size-base);
  --text-caption-xl: var(--font-size-lg);

  --text-body-xs: var(--font-size-xs);
  --text-body-sm: var(--font-size-sm);
  --text-body-base: var(--font-size-base);
  --text-body-lg: var(--font-size-lg);
  --text-body-xl: var(--font-size-xl);
  --text-body-2xl: var(--font-size-2xl);
  --text-body-3xl: var(--font-size-3xl);

  --text-heading-xs: var(--font-size-base);
  --text-heading-sm: var(--font-size-lg);
  --text-heading-base: var(--font-size-xl);
  --text-heading-lg: var(--font-size-2xl);
  --text-heading-xl: var(--font-size-3xl);
  --text-heading-2xl: var(--font-size-4xl);

  --spacing-brand-spacing-xs: var(--brand-spacing-xs);
  --spacing-brand-spacing-sm: var(--brand-spacing-sm);
  --spacing-brand-spacing: var(--brand-spacing);
  --spacing-brand-spacing-lg: var(--brand-spacing-lg);
  --spacing-brand-spacing-xl: var(--brand-spacing-xl);
  --spacing-brand-spacing-2xl: var(--brand-spacing-2xl);
  --spacing-brand-page-spacing: 104px;

  /* RADIUS */
  --radius-brand-radius: var(--brand-radius);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* @utility card {
  @apply flex flex-col rounded-brand-radius gap-y-brand-spacing py-6;
} */
@utility primary-btn-shadow {
  box-shadow: 0px 4px 8px rgba(3, 68, 220, 0.15);
}
@utility secondary-btn-shadow {
  box-shadow: 0px 4px 8px rgba(27, 31, 59, 0.15);
}
@utility accent-btn-shadow {
  box-shadow: 0px 4px 8px rgba(255, 183, 3, 0.15);
}
@utility m-left-auto {
  margin-left: auto;
}

@layer components {
  .card {
    @apply flex flex-col gap-brand-spacing-sm;
  }
  .display-card {
    @apply flex flex-col gap-brand-spacing-xs p-brand-spacing rounded-brand-radius w-[245px] md:p-brand-spacing-lg;
  }
  .page-container {
    @apply flex flex-col gap-y-brand-spacing;
  }
  .brand-icon {
    @apply md:w-20 h-20;
  }
  .crumb-link {
    @apply text-caption-base py-0.5 px-1 cursor-pointer capitalize text-neutral hover:text-brand-white duration-200 transition-all ease-in;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--background);
  height: 100%;
  width: 100%;
}

h1 {
  @apply font-bold text-heading-base md:text-heading-lg font-secondary;
}
h2 {
  @apply font-bold text-heading-base md:text-heading-lg font-secondary;
}
h3 {
  @apply font-bold text-heading-base font-secondary;
}
h4 {
  @apply font-semibold text-[1.25rem] font-secondary;
}
h5 {
  @apply font-semibold text-heading-sm font-secondary;
}
h6 {
  @apply font-semibold text-heading-xs font-secondary;
}

.hero-img {
  mask-image: linear-gradient(black, transparent);
  -webkit-mask-image: linear-gradient(black, transparent);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
